@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Code</td>
                <td>@product.Name</td>
                <td>@product.Stock</td>
                <td>@product.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
